<nav class="topbar">
    <div class="topbar__container">
        <h1 class="heading-primary">Color Reader</h1>
        <div class="topbar__buttons">
            {{ logged }}
            <div data-ng-if="logged">
                <button type="button" class="button" data-ng-click="logout()">Logout</button>
            </div>
            <div data-ng-if="!logged">
                <button type="button" class="button" data-ng-click="openModal('login')">Login</button>
                <button type="button" class="button" data-ng-click="openModal('register')">Register</button>
            </div>
        </div>
    </div>
</nav>