.palette {
    display: flex;
    flex-direction: column;

    &__container {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
    &__record {
        height: 100px;
        flex: 1;
        margin: 0 1rem;
        border: 2px dashed black;
        min-width: 100px;
        max-width: 115px;
        margin-top: 10px;
    }
}